body{
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Devops-toolchain.svg/2000px-Devops-toolchain.svg.png);
  background-size: cover;
  background-position: center;
  background-color: grey;
}
#test {
  text-align:center;
  padding-top: 25%;
}
html{
  height: 100%;
}
h1{
  font-weight: 700;
  font-size: 5em;
}
hr{
  width: 500px;
}
